body {
    background:  #F5F5EB;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 4vw;
}

label img {
    width: auto;
    height: 30vw;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.bayan__container {
    border-radius: 4px;
    margin: 2vw auto;
    width: 80vw;
    
}

.bayan__item {
    border-top: 1px solid #bebeaf;
    transition: box-shadow 0.9s ease-in-out;
    height: auto;
}




.bayan__header {
    background-color: #f0f0f0;
    color: #030202;
   
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    text-decoration: none;
    
}

.bayan__item input[type="radio"]:checked + .bayan__header .bayan-icon {
    transform: scale(1.5);
}

.bayan-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;

 

    animation-name: zoomIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    transform: scale(0);

    animation-fill-mode: forwards;
}

.bayan-icon {
    width: 4.7vw;
    height: 4.7vw;
    background-image: url('../cssBayan/img/plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
    transition: transform 0.9s ease-in-out;
   margin-top: .7vw;
   margin-right: .5vw;
}


.bayan__item input[type="radio"]:checked + .bayan__header .bayan-icon,
.bayan-icon.active {
    background-image: url('../cssBayan/img/crest.png');
}

.bayan__item input[type="radio"]:checked + .bayan__header {
    background-color: rgb(165, 165, 157);
    color: black;
}

.bayan-content {
    display: none;
    padding: 3vw;
   
}

input[type="radio"] {
    display: none;
}

.bayan__item.bayan-content {
    display: none;
}

.bayan__item input[type="radio"]:checked + .bayan__header + .bayan-content {
    display: block;
   
}

.bayan__item:not(:hover) input[type="radio"]:not(:checked) + .bayan__header + .bayan-content {
    display: none;
}

.bayan__item:not(:hover) .bayan-content {
    display: none;
}

.bayan__item input[type="radio"]:checked ~ .bayan__item:not(:target) .bayan-content {
    display: none;
}

input[type="radio"]:not(:checked) + label {
    color: blue;
}

.bayan__item:active {
    color:rgb(35, 42, 153);
    opacity: 0.7;
}

@media only screen and (min-width: 1920px)  {
    .bayan__item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.bayan__header {
    padding: 1vw;
    font-size: 3vw;
}

.bayan__header:hover {
    color: rgb(35, 42, 153); 
    background-color: #C1C1C1;
}

.bayan__item:hover img:hover {
    filter: blur(0);
}

.bayan__container:hover .bayan-icon {
    visibility: visible;
}

.bayan__item:hover .bayan-content {
    display: block;
}

.bayan__item img {
    filter: blur(10px);
    transition: filter 0.3s ease-ain-out;
}

.bayan__container:hover input[type="radio"]:not(:checked) + label {
    color: black;
}

h1 {
    margin: 0.5vw;
}

img {
    width: 30vw;
    height: 30vw;
}

.bayan-content img {
    min-height: 21vw;
}

.bayan-content {
    padding: 1vw;
}

.bayan-icon {
    width: 2.7vw;
    height: 2.7vw;
}

label img {
    height: 21vw;
}

.bayan__container,
.bayan-content img,
.bayan__header,
.bayan-content {
    cursor: pointer;
}
}